Inizializzazione delle librerie

In [1]:
import pandas as pd
import os

Inizializzazione del dataframe

In [4]:
df = pd.read_csv('../Dati/csv/occupazione.csv', sep=',')

display(df)

,DATAFLOW,LAST_UPDATE,freq,species,pres,dest_use,unit,natvessr,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:FISH_LD_IT(1.0),04/04/25 11:00:00,A,AGK,FRE,HCN,EUR,EU,IT,2015,120979.73,NaN,NaN
1,ESTAT:FISH_LD_IT(1.0),04/04/25 11:00:00,A,AGK,FRE,HCN,EUR,EU,IT,2016,55229.58,NaN,NaN
2,ESTAT:FISH_LD_IT(1.0),04/04/25 11:00:00,A,AGK,FRE,HCN,EUR,EU,IT,2017,45555.64,NaN,NaN
3,ESTAT:FISH_LD_IT(1.0),04/04/25 11:00:00,A,AGK,FRE,HCN,EUR,EU,IT,2018,627.42,p,NaN
4,ESTAT:FISH_LD_IT(1.0),04/04/25 11:00:00,A,AGK,FRE,HCN,EUR,EU,IT,2019,630.64,p,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
221014,ESTAT:FISH_LD_IT(1.0),04/04/25 11:00:00,A,ZGC,TOTAL,TOTAL,TPW,TOTAL,IT,2019,2.00,p,NaN
221015,ESTAT:FISH_LD_IT(1.0),04/04/25 11:00:00,A,ZGC,TOTAL,TOTAL,TPW,TOTAL,IT,2020,32.70,p,NaN
221016,ESTAT:FISH_LD_IT(1.0),04/04/25 11:00:00,A,ZGC,TOTAL,TOTAL,TPW,TOTAL,IT,2021,1.70,NaN,NaN
221017,ESTAT:FISH_LD_IT(1.0),04/04/25 11:00:00,A,ZGC,TOTAL,TOTAL,TPW,TOTAL,IT,2022,1.10,NaN,NaN
221018,ESTAT:FISH_LD_IT(1.0),04/04/25 11:00:00,A,ZGC,TOTAL,TOTAL,TPW,TOTAL,IT,2023,1.30,NaN,NaN